<div class="container">

    <div class="project-container">
        <h2 class="project-header">
            Project : <%= project.name %>
        </h2>
        <div class="project-author">
            Author : <%= project.author %>
        </div>
        <div class="project-description">
            Description : <%= project.description %>
        </div>
    </div>

    <div class="create-issue-container">
        <%- include('./partials/_issue_form'); %>
    </div>


    <div class="issue-container">
        <%- include('./partials/_issues'); %>
    </div>

</div>